@import "tailwindcss";


*{

  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{

     font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container{
  width:90%;
  margin:auto
}


header .top-strip{

         border-top:1px solid rgba(0,0,0,0.1);

         border-bottom:1px solid rgba(0,0,0,0.1)
}


.header{

  
         border-top:1px solid rgba(0,0,0,0.1);

         border-bottom:1px solid rgba(0,0,0,0.1)

}

